.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
    height: auto; 
    margin: 0px 50px 70px 50px;
    color: white;
    
=======
>>>>>>> 21ee93ac1651c122eefd489a61793e3813eb96fb
    
}

.header{
    grid-column: 1/4;
}
.pic{
    grid-column: 4/5;
    grid-row: 1; 
    border:1px black solid;
    border-radius: 4px;  

}
.exp{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: auto; 
    margin: 0px 50px 70px 50px;
    border-top: 2px solid black;

=======
>>>>>>> 21ee93ac1651c122eefd489a61793e3813eb96fb
}
.ex1{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    
=======
>>>>>>> 21ee93ac1651c122eefd489a61793e3813eb96fb
}
.info1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    margin: 50px;
=======
    grid-template-rows: 1fr 1fr 1fr;
>>>>>>> 21ee93ac1651c122eefd489a61793e3813eb96fb
}
.lorem{
    grid-column:2/4;
    grid-row: 1; 
}
.skills{
    grid-column: 4/6;
}
.list{
    grid-column: 4;
    grid-row:1;
}
.education{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: auto; 
}
.edu{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:auto;
    margin: 50px;
}
.date{
    grid-column: 1;
}

.lorem1{
    grid-column: 2/4;
    grid-row: 1;
}
.award{
    grid-column: 4/6;
}
.intrest{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    margin: 50px;
    border-bottom: 2px solid black;
}
.l1{
    grid-column: 1;
    grid-row: auto
}
.li2{
    grid-column: 2;
    grid-row: auto

}
.li3{
    grid-column: 3;
    grid-row: auto    
}
label {
    padding-right: 10px;
    font-size: 1rem;
}
.lang{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.eng{
    grid-column:1 ;
    margin: 10px;

}
.french{
    grid-column: 2;
    margin: 10px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-image: linear-gradient(to left,gray,rgb(10, 56, 78),rgba(255, 255, 0, 0.226));
    height: 100px;
}
.first{
    grid-column: 1;
    justify-content: center;
    margin-left: 100px; 
    margin-top: 20px;

}
.second{
    grid-column: 2;
    justify-content: center;
    margin-left: 100px; 
    margin-top: 20px;
}
.third{
    grid-column: 3;
    justify-content: center;
    margin-left: 100px; 
    margin-top: 20px; 
}
